pkgbase = bigfive-updater
	pkgdesc = Multi-distro Linux system updater with security features
	pkgver = 6.4.0
	pkgrel = 1
	url = https://github.com/CalmKernelTR/bigfive-updater
	arch = any
	license = MIT
	depends = bash
	depends = curl
	optdepends = flatpak: Flatpak application updates
	optdepends = snapd: Snap package updates
	optdepends = fwupd: Firmware updates
	optdepends = snapper: Btrfs/LVM snapshot support
	optdepends = timeshift: System restore point support
	optdepends = gnupg: GPG signature verification
	provides = guncel
	provides = updater
	provides = bigfive
	source = bigfive-updater-6.4.0.tar.gz::https://github.com/CalmKernelTR/bigfive-updater/archive/v6.4.0.tar.gz
	sha256sums = 4b4249bc17c040b1ced1e59f56c71c6d28b8626bd94b40272edd339fd6f6a3ba

pkgname = bigfive-updater
